<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="css/mycss.css">

<meta charset="ISO-8859-1">
<title>Add Course Page</title>
</head>
<body>
<h1>Add Course Here</h1>
<br>

<form th:action="@{/addCourse}" th:object="${course}" method="POST">
Course Name: <input type="text" th:field="*{courseName}">
<br>
Course Code: <input type="text" th:field="*{courseCode}">
<br>
<input type="submit" value="Add Course">

</form>
<h3><a href="/">Go Home</a></h3>
</body>
</html>